<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACCESS DENIED</title>
</head>
<body style="background-color: #0a0000; color: #ef4444; font-family: 'Courier New', Courier, monospace; text-align: center; padding-top: 15%;">
    <h1 style="font-size: 60px; margin-bottom: 10px;"> 403 FORBIDDEN </h1>
    <h2>CONNECTION TERMINATED BY SENTINEL SIEM</h2>
    <p>Your IP Address <strong style="color: white;">{{ ip }}</strong> has been flagged for malicious activity.</p>
    <p>Further access is permanently blocked. Incident logged in SOAR Database.</p>
</body>
</html>